<div class="ui segment">

  <div class="ui stackable grid">
    <div id="table-container" class="sixteen wide column">
      <div class="ui header">
        Challenges
        <button
        ng-click="createChallenge()"
        class="ui green basic button"
        style="margin-left: 60px">
        <i class="add icon"></i>
        Create Challenge
      </button>
      </div>

      <table
        class="ui celled compact challenges table">
        <thead>
          <tr>
            <th class="one wide center aligned">Points</th>
            <th class="ten wide">Title</th>
            <th class="one wide center aligned">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            ng-repeat="challenge in challenges">
            <td class="center aligned">
              <strong> {{challenge.points}} </strong>
            </td>
            <td>
              <strong>
                {{challenge.title}}
                &nbsp;

              </strong>
            </td>

            <td
              class="center aligned collapsing">

              <button
                title="Edit Challenge"
                ng-click="goChallenge($event, challenge)"
                class="ui circular mini basic icon button">
                <i class="edit icon"></i>
              </button>

              <button 
              title="Remove Challenge"
              class="delete ui circular mini basic red icon button"
              ng-click="removeChallenge($event, challenge, $index)">
              <i class="red x icon"></i>
              
            </button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
