<div id="team" class="page">
  <div class="divided title">Team</div>

  <div class="ui stackable centered page grid ">
    <div class="column">
      <div class="ui error message" ng-show="error">{{ error }} </div>

      <ul>
        <li>You can either send a request to join one of the already established teams or create your own.</li>
        <li>When you apply to join you need to wait for the team leader to accept you.</li>
        <li>You can't be a member of two teams at the same time. and when you'll accepted in one <b>you'll be shown as unavailable</b> in the other teams you applied for.</li>
        <li>It's recommended to request to join multiple teams at first, And then if you get accepted in a team you don't really like you can leave it.</li>
        <li>When you apply to join a team we show other team members<b> some of your data (Name, Github, Linkedin)</b> to help them select the best members.</li>
      </ul>
  
      <div class="ui one cards" ng-show="isTeamAdmin">

        <div Team-Card class="teamcard ui card">
            <div Team-Card id="1607" class="teamcard__anchor"></div>
            <ul Team-Card class="teamcard__wanted">
                <li Team-Card ng-show="userAdminTeam.skills.code" style="border: 2px solid rgb(221, 41, 20); color: rgb(221, 41, 20);">
                    <img Team-Card src="..\..\assets\images\teams\icon--coder-color.svg"/>
                    <p Team-Card>code</p>
                </li>
                <li Team-Card ng-show="!userAdminTeam.skills.code">
                    <img Team-Card src="..\..\assets\images\teams\icon--coder-grey.svg"/>
                    <p Team-Card>code</p>
                </li>

                <li Team-Card ng-show="userAdminTeam.skills.design" style="border: 2px solid rgb(16, 131, 232); color: rgb(16, 131, 232);">
                    <img Team-Card src="..\..\assets\images\teams\icon--design-color.svg"/>
                    <p Team-Card>design</p>
                </li>
                <li Team-Card ng-show="!userAdminTeam.skills.design">
                    <img Team-Card src="..\..\assets\images\teams\icon--design-grey.svg"/>
                    <p Team-Card>design</p>
                </li>

                <li Team-Card ng-show="userAdminTeam.skills.hardware" style="border: 2px solid rgb(255, 153, 102); color: rgb(255, 153, 102);">
                    <img Team-Card src="..\..\assets\images\teams\icon--hardware-color.svg"/>
                    <p Team-Card>hardware</p>
                </li>
                <li Team-Card ng-show="!userAdminTeam.skills.hardware">
                    <img Team-Card src="..\..\assets\images\teams\icon--hardware-grey.svg"/>
                    <p Team-Card>hardware</p>
                </li>

                <li Team-Card ng-show="userAdminTeam.skills.idea" style="border: 2px solid  rgb(0, 204, 204); color: rgb(0, 204, 204);">
                    <img Team-Card src="..\..\assets\images\teams\icon--expert-color.svg"/>
                    <p Team-Card>idea</p>
                </li>
                <li Team-Card ng-show="!userAdminTeam.skills.idea">
                    <img Team-Card src="..\..\assets\images\teams\icon--expert-grey.svg"/>
                    <p Team-Card>idea</p>
                </li>


            </ul>
            <div Team-Card class="teamcard__ownerinfo">
                                      
              <div Team-Card class="teamcard__ownerinfo--left">
                <img Team-Card src="..\..\assets\images\blank-profile.svg" class="skill_{{userAdminTeam.members[0].skill}}_C"/>
                <div Team-Card>
                  <p Team-Card class="teamcard__ownerinfo--left--name">
                    {{userAdminTeam.members[0].name}}
                  </p>
                  
                  <p Team-Card class="teamcard__ownerinfo--left--role skill_{{userAdminTeam.members[0].skill}}">
                      {{userAdminTeam.members[0].skill}}
                  </p>
                  <!---->
                </div>
              </div>

              <div Team-Card class="teamcard__ownerinfo--right">
                  <div class="ui left floated">
                      <div class="ui toggle checkbox">
                        <input type="checkbox"
                        ng-model="userAdminTeam.isColosed"
                        ng-change="toggleCloseTeam(userAdminTeam._id,userAdminTeam.isColosed)"
                        ng-disabled="userAdminTeam.isMaxteam">
                        <label>Close Team</label>
                      </div>
                      <br>
                      <div class="ui toggle checkbox">
                        <input type="checkbox"
                        ng-model="userAdminTeam.isPrivate"
                        ng-change="toggleHideTeam(userAdminTeam._id,userAdminTeam.isPrivate)"
                        ng-disabled="userAdminTeam.isMaxteam">
                        <label>Make private</label>
                      </div>
                    </div> 
                       
              </div>
              
            </div>

            <div class="ui stackable grid">
              <div Team-Card class="teamcard__description sixteen wide column">
                <p Team-Card> {{userAdminTeam.description}} </p>
              </div>
              <div Team-Card class="eight wide column">
                <div class="title" style="font-size: 1em;">Team members</div>


                <table class="ui celled selectable compact users table ">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th class="one wide center aligned">Skill</th>
                        <th class="one wide center aligned">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="member in userAdminTeam.members ">
                        <td ng-click="selectMember(member.id)">{{ member.name }}</td>
                        <td class="center aligned">
                          <strong> {{ member.skill }} </strong>
                        </td>

                        <td class="center aligned collapsing">
                          <button  
                            title="Remove Member from Team" 
                            class=" ui circular mini basic red icon button" 
                            ng-click="removeMemberfromTeam(userAdminTeam._id, member, $index)">
                            <i class="red x icon"></i>
                          </button>          
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>

              <div Team-Card class="eight wide column">
                <div class="title" style="font-size: 1em;">Join requests</div>
                <table class="ui celled selectable compact users table">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th class="one wide center aligned">Skill</th>
                        <th class="one wide center aligned">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                          ng-repeat="member in userAdminTeam.joinRequests ">
                        <td ng-click="selectMember(member.id)">{{ member.name }}</td>
                        <td class="center aligned">
                          <strong> {{ member.skill }} </strong>
                        </td>

                        <td class="center aligned collapsing" ng-show="!member.unavailable">
                            <button  
                            title="Accept User in Team" 
                            class=" ui circular mini basic green icon button" 
                            ng-click="acceptMember(userAdminTeam._id, member, $index)">
                            <i class="green check icon"></i>
                          </button>          
                          <button  
                            title="Refuse User" 
                            class=" ui circular mini basic red icon button" 
                            ng-click="refuseMember(userAdminTeam._id, member, $index)">
                            <i class="red x icon"></i>
                          </button>          
                        </td>

                        <td class="center aligned"  ng-show="member.unavailable">
                          <strong> Unavailable </strong>
                        </td>

                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
            <!---->
            <!---->
            <div Team-Card class="spacer"></div>
            <div Team-Card class="spacer"></div>

            <div class="ui long user modal">
              <i class="close icon"></i>
              <div class="header">
                {{selectedUser.profile.name ? selectedUser.profile.name : selectedUser.email}}
              </div>
              <div class="content">
                <div ng-repeat="section in selectedUser.sections">      
                  <h3> {{section.title}} </h3>
      
                  <p ng-repeat="field in section.fields">
                    <strong> {{field.name}}: </strong>
      
                    <span ng-show="field.type === 'boolean'">
                      <i class="red circle remove icon" ng-show="!field.value"></i>
                      <i class="green circle check icon" ng-show="field.value"></i>
                    </span>
      
                    <span ng-if="field.type == null">
                      {{field.value}}
                    </span>
                  </p>
      
                </div>
      
              </div>
            </div>
            <!---->
            <div Team-Card class="teamcard__button" ng-click="removeTeam(userAdminTeam)">
              <p Team-Card> <i class="x icon"></i> Remove Team</p>
            </div>
          </div>

      </div>
      
      <div class="ui form" style="text-align: center;"  ng-show="isTeamAdmin">
        <div class="divided title">Invite members </div>
        <p>You can send your team code to other members and ask them to enter it to joint your tean.</p>

        <h2>{{userAdminTeam._id}}</h2>
      </div>
      
      <div class="ui one cards" ng-show="isTeamMember">
        <div Team-Card class="teamcard ui card">
            <div Team-Card id="1607" class="teamcard__anchor"></div>
            <ul Team-Card class="teamcard__wanted">
                <li Team-Card ng-show="userMemberTeam.skills.code" style="border: 2px solid rgb(221, 41, 20); color: rgb(221, 41, 20);">
                    <img Team-Card src="..\..\assets\images\teams\icon--coder-color.svg"/>
                    <p Team-Card>code</p>
                </li>
                <li Team-Card ng-show="!userMemberTeam.skills.code">
                    <img Team-Card src="..\..\assets\images\teams\icon--coder-grey.svg"/>
                    <p Team-Card>code</p>
                </li>

                <li Team-Card ng-show="userMemberTeam.skills.design" style="border: 2px solid rgb(16, 131, 232); color: rgb(16, 131, 232);">
                    <img Team-Card src="..\..\assets\images\teams\icon--design-color.svg"/>
                    <p Team-Card>design</p>
                </li>
                <li Team-Card ng-show="!userMemberTeam.skills.design">
                    <img Team-Card src="..\..\assets\images\teams\icon--design-grey.svg"/>
                    <p Team-Card>design</p>
                </li>

                <li Team-Card ng-show="userMemberTeam.skills.hardware" style="border: 2px solid rgb(255, 153, 102); color: rgb(255, 153, 102);">
                    <img Team-Card src="..\..\assets\images\teams\icon--hardware-color.svg"/>
                    <p Team-Card>hardware</p>
                </li>
                <li Team-Card ng-show="!userMemberTeam.skills.hardware">
                    <img Team-Card src="..\..\assets\images\teams\icon--hardware-grey.svg"/>
                    <p Team-Card>hardware</p>
                </li>

                <li Team-Card ng-show="userMemberTeam.skills.idea" style="border: 2px solid  rgb(0, 204, 204); color: rgb(0, 204, 204);">
                    <img Team-Card src="..\..\assets\images\teams\icon--expert-color.svg"/>
                    <p Team-Card>idea</p>
                </li>
                <li Team-Card ng-show="!userMemberTeam.skills.idea">
                    <img Team-Card src="..\..\assets\images\teams\icon--expert-grey.svg"/>
                    <p Team-Card>idea</p>
                </li>


            </ul>
            <div Team-Card class="teamcard__ownerinfo">
              <div Team-Card class="teamcard__ownerinfo--left">
                <img Team-Card src="..\..\assets\images\blank-profile.svg" class="skill_{{userMemberTeam.members[0].skill}}_C"/>
                <div Team-Card>
                  <p Team-Card class="teamcard__ownerinfo--left--name">
                    {{userMemberTeam.members[0].name}} (Team leader)
                  </p>
                  <p Team-Card class="teamcard__ownerinfo--left--role skill_{{userMemberTeam.members[0].skill}}">
                      {{userMemberTeam.members[0].skill}}
                  </p>
                  <!---->
                </div>
              </div>
              <div Team-Card class="teamcard__ownerinfo--right"><!----></div>
            </div>

            <div class="ui stackable grid">
              <div Team-Card class="teamcard__description sixteen wide column">
                <p Team-Card> {{userMemberTeam.description}} </p>
              </div>
              <div Team-Card class="sixteen wide column">
                <div class="title" style="font-size: 1em;">Team members</div>


                <table class="ui celled selectable compact users table ">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th class="one wide center aligned">Skill</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="member in userMemberTeam.members "> 
                        <td ng-click='selectMember(member.id)'>{{ member.name }}</td>
                        <td class="center aligned">
                          <strong> {{ member.skill }} </strong>
                        </td>

                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
            <!---->
            <!---->
            <div Team-Card class="spacer"></div>
            <div Team-Card class="spacer"></div>
            <!---->
            <div Team-Card class="teamcard__button" ng-click="leaveTeam(userMemberTeam)">
              <p Team-Card> <i class="x icon"></i> Leave Team</p>
            </div>
          </div>
      </div>



      <div class="ui form centered" ng-show="ShowNewTeamFrom">
          <div class="ui divider"></div>

          <div class="ui header">
              New Team name 
            </div>
             
          <div class="field">
            <input
              class="ui input"
              type="text"
              placeholder="Enter a short name that describes the team/project.."
              ng-model="newTeam_description">
          </div>
          <div class="grouped fields">
              <div class="field">
                <p>Select the skills that you need in your team:</p>
                  <div class="ui checkbox" style="margin-right:30px;">
                      <input
                      type="checkbox"
                      name="code"
                      ng-model="skillcode"
                      checked>
                      <label>Code</label>
                  </div>
                  <div class="ui checkbox" style="margin-right:30px;">
                      <input 
                      type="checkbox"
                      name="design"
                      ng-model="skilldesign"
                      checked>
                      <label> Design</label>
                  </div>
                  <div class="ui checkbox" style="margin-right:30px;">
                      <input 
                      type="checkbox"
                      name="hardware"
                      ng-model="skillhardware"
                      checked>
                      <label>Hardware</label>
                  </div>
                  <div class="ui checkbox" style="margin-right:30px;">
                      <input
                      type="checkbox"
                      name="idea"
                      ng-model="skillidea"
                      checked>
                      <label>Idea</label>
                  </div>
              </div>
          </div>




          <div class="form-group inline fields" >
              <label class="field">Select your Skill?</label>
      
              <div class="radio field">
                  <label>
                      <input type="radio" value="code" ng-model="newTeam_Adminskill">
                      Code
                  </label>
              </div>
              <div class="radio field">
                  <label>
                      <input type="radio" value="design" ng-model="newTeam_Adminskill">
                      Design
                  </label>
              </div>
              <div class="radio field">
                  <label>
                      <input type="radio" value="hardware" ng-model="newTeam_Adminskill">
                      Hardware
                  </label>
              </div>
              <div class="radio field">
                  <label>
                      <input type="radio" value="idea" ng-model="newTeam_Adminskill">
                      Idea
                  </label>
              </div>
          </div>
          
          <div class="field">
            <div
              class="ui fluid green button"
              ng-click="createTeam()">
              Create Team
            </div>
          </div>
        </div>
  
        <div class="ui form centered" ng-show="ShowJoinTeamFrom">
          <div class="ui divider"></div>

          <div class="ui header">
              New Team code 
            </div>
             
          <div class="field">
            <input
              class="ui input"
              type="text"
              placeholder="Enter your team code given by team admin"
              ng-model="newTeam_Code">
          </div>

          <div class="form-group inline fields" >
            <label class="field">Select your Skill?</label>
    
            <div class="radio field">
                <label>
                    <input type="radio" value="code" ng-model="newTeam_skill">
                    Code
                </label>
            </div>
            <div class="radio field">
                <label>
                    <input type="radio" value="design" ng-model="newTeam_skill">
                    Design
                </label>
            </div>
            <div class="radio field">
                <label>
                    <input type="radio" value="hardware" ng-model="newTeam_skill">
                    Hardware
                </label>
            </div>
            <div class="radio field">
                <label>
                    <input type="radio" value="idea" ng-model="newTeam_skill">
                    Idea
                </label>
            </div>
        </div>

          <div class="field">
            <div
              class="ui fluid green button"
              ng-click="joinTeamCode(newTeam_ID)">
              Join Team
            </div>
          </div>
        </div>

      <div class="field"  ng-show="!ShowNewTeamFrom && !ShowJoinTeamFrom && !isTeamAdmin && !isTeamMember">
        <button class="ui fluid pink button" ng-click="ShowcreateTeam()" ng-show="!isTeamAdmin && !isTeamMember">
          Create a New Team
        </button>
        <br>
        <p>You can request to join a team using a team code that the user admin gives to you.</p>
        <button class="ui fluid pink button" ng-click="ShowJoinTeam()" ng-show="!isTeamAdmin && !isTeamMember">
          Join a team via Team code
        </button>

      </div>
    </div>
  </div>

  <div class="ui stackable grid">
    <div class="column">
      <div class="ui form" ng-class="{'loading': loading}">
        <div class="divided title">Explore teams </div>

        <div class="ui form">
          <div class="field">
            <div class="ui icon fluid input">
              <input type="text"
                     placeholder="Search..."
                     ng-model="queryText"
                     ng-model-options="{debounce: 300}">
                <i class="search icon"></i>
            </div>
          </div>
  
          <div class="ui form">
            <div class="grouped fields">
                <div class="field">
                    <div class="ui checkbox" style="margin-right:30px;">
                        <input 
                        type="checkbox"
                        name="code"
                        ng-model="skillsFilters.code"
                        ng-change="applyskillsFilter()">
                        <label>Code</label>
                    </div>
                    <div class="ui checkbox" style="margin-right:30px;">
                        <input 
                        type="checkbox"
                        name="design"
                        ng-model="skillsFilters.design"
                        ng-change="applyskillsFilter()">
                        <label>Design</label>
                    </div>
                    <div class="ui checkbox" style="margin-right:30px;">
                        <input 
                        type="checkbox"
                        name="hardware"
                        ng-model="skillsFilters.hardware"
                        ng-change="applyskillsFilter()">
                        <label>Hardware</label>
                    </div>
                    <div class="ui checkbox" style="margin-right:30px;">
                        <input 
                        type="checkbox"
                        name="idea"
                        ng-model="skillsFilters.idea"
                        ng-change="applyskillsFilter()">
                        <label>Idea</label>
                    </div>
                </div>
            </div>
          </div>
    
        </div>
  
        <div class="ui divider"></div>
        
        <br>

        <div class="ui four stackable cards doubling cards">
          <div Team-Card class="teamcard ui card" ng-repeat="team in teams" ng-show="!team.isPrivate">
              <div Team-Card id="1607" class="teamcard__anchor"></div>
              <ul Team-Card class="teamcard__wanted">
                  <li Team-Card ng-show="team.skills.code" style="border: 2px solid rgb(221, 41, 20); color: rgb(221, 41, 20);">
                      <img Team-Card src="..\..\assets\images\teams\icon--coder-color.svg"/>
                      <p Team-Card>code</p>
                  </li>
                  <li Team-Card ng-show="!team.skills.code">
                      <img Team-Card src="..\..\assets\images\teams\icon--coder-grey.svg"/>
                      <p Team-Card>code</p>
                  </li>

                  <li Team-Card ng-show="team.skills.design" style="border: 2px solid rgb(16, 131, 232); color: rgb(16, 131, 232);">
                      <img Team-Card src="..\..\assets\images\teams\icon--design-color.svg"/>
                      <p Team-Card>design</p>
                  </li>
                  <li Team-Card ng-show="!team.skills.design">
                      <img Team-Card src="..\..\assets\images\teams\icon--design-grey.svg"/>
                      <p Team-Card>design</p>
                  </li>


                  <li Team-Card ng-show="team.skills.hardware" style="border: 2px solid rgb(255, 153, 102); color: rgb(255, 153, 102);">
                      <img Team-Card src="..\..\assets\images\teams\icon--hardware-color.svg"/>
                      <p Team-Card>hardware</p>
                  </li>
                  <li Team-Card ng-show="!team.skills.hardware">
                      <img Team-Card src="..\..\assets\images\teams\icon--hardware-grey.svg"/>
                      <p Team-Card>hardware</p>
                  </li>

                  <li Team-Card ng-show="team.skills.idea" style="border: 2px solid  rgb(0, 204, 204); color: rgb(0, 204, 204);">
                      <img Team-Card src="..\..\assets\images\teams\icon--expert-color.svg"/>
                      <p Team-Card>idea</p>
                  </li>
                  <li Team-Card ng-show="!team.skills.idea">
                      <img Team-Card src="..\..\assets\images\teams\icon--expert-grey.svg"/>
                      <p Team-Card>idea</p>
                  </li>


              </ul>
              <div Team-Card class="teamcard__ownerinfo">
                <div Team-Card class="teamcard__ownerinfo--left">
                  <img Team-Card src="..\..\assets\images\blank-profile.svg" class="skill_{{team.members[0].skill}}_C"/>
                  <div Team-Card>
                    <p Team-Card class="teamcard__ownerinfo--left--name">
                      {{team.members[0].name}}
                    </p>
                    <p Team-Card class="teamcard__ownerinfo--left--role skill_{{team.members[0].skill}}">
                        {{team.members[0].skill}}
                    </p>
                    <!---->
                  </div>
                </div>
                <div Team-Card class="teamcard__ownerinfo--right"><!----></div>
              </div>
              <div Team-Card class="teamcard__description">
                <p Team-Card> {{team.description}} </p>
              </div>
              <div Team-Card>
                <ul Team-Card class="teamcard__members--ul">
                  <li Team-Card ng-repeat="member in team.members">
                    <img 
                    Team-Card src="..\..\assets\images\blank-profile.svg" alt="{{member.name}}" title="{{member.name}}" class="skill_{{member.skill}}_C"/>
                    <p Team-Card class="rolefilter skill_{{member.skill}}">
                      {{member.skill}}
                    </p>
                  </li>
                </ul>
              </div>
              <!---->
              <!---->
              <div Team-Card class="spacer"></div>
              <!---->
              <div Team-Card class="teamcard__button" ng-click="joinTeam(team)" ng-show="!isTeamMember && !isTeamAdmin && !isjoined(team) && !team.isColosed ">
                <p Team-Card> <i class="add icon"></i> Join Team</p>
              </div>
              <div Team-Card class="teamcard__button" ng-click="canceljoinTeam(team)" ng-show="!isTeamMember && !isTeamAdmin && isjoined(team)">
                <p Team-Card> <i class="minus icon"></i> Cancel Request</p>
              </div>
              <div Team-Card="" class="teamcard__button teamcard__button--closed" ng-show="team.isColosed">
                <img Team-Card="" src="..\..\assets\images\padlock-color.svg" class="teamcard__button--padlock padlock-show"> 
                <p Team-Card="">Team Closed</p>
                 <span Team-Card="" class="teamcard__button--balance"></span>
              </div>
            </div>


      </div>
      </div>
    </div>
  </div>
</div>
