<!-- Whitelist -->
<div
  ng-class=""
  class="ui blue segment">

  <div class="ui header">
    Targeted Markting
  </div>

  <div class="ui form">
    <p>This form is used to add teams emails from other hackathons</p>
    
      
    <div class="field">
        <select
          class="ui fluid dropdown"
          name="event"
          ng-model="event">
          
          <option value="" disabled>Choose the event these teams participated in</option>
          <option value="Hackit 1">Hack!T 1</option>
          <option value="Hackit 2">Hack!T 2</option>
          <option value="Leapfrog-Hack">LeapfrogHack</option>
          <option value="MLH Local-Hack-Day 2">MLH Local Hack Day 2</option>
        </select>
      </div>


    <div class="field">
      <textarea class="ui input" type="text" ng-model="body" placeholder="Enter the team members emails separated with a comma (,) and the teams separated with a semicolon (;)  exampele : T1M1@esi.dz,T1M2@esi.dz,T1M3@esi.dz;T2M1@esi.dz,T2M2@esi.dz"></textarea>
    </div>


    <div class="field">
        <button type="submit"
                class="fluid ui purple button"
                ng-click="createTeams()">
                Create
        </button>
    </div>

  </div>
</div>
