<title>  {{ EVENT_INFO.NAME }}  </title>

<!-- CSS Files -->
  <link href="assets/css/blk-design-system.css?v=1.0.0" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="assets/css/nucleo-icons.css" rel="stylesheet" />

<div class="profile-page">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="./">
          <span>ESI•</span>Hack 2019
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a>
                ESI•Hack 2019
              </a>
            </div>
            <div class="col-6 collapse-close text-right">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item p-0">
            <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/ESI.Page" target="_blank">
              <i class="fab fa-facebook-square"></i>
              <p class="d-lg-none d-xl-none">Facebook</p>
            </a>
          </li>
          <li class="nav-item p-0">
            <a class="nav-link" rel="tooltip" title="Register on Devpost" data-placement="bottom" href="http://esihack.devpost.com" target="_blank">
              <i class="fa fa-terminal"></i>
              <p class="d-lg-none d-xl-none">Devpost</p>
            </a>
          </li>
          <li class="nav-item p-0">
            <a class="nav-link" rel="tooltip" title="ESI Official Website" data-placement="bottom" href="http://www.esi.dz/" target="_blank">
              <i class="fa fa-globe"></i>
              <p class="d-lg-none d-xl-none">ESI Website</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->


  
  <div class="wrapper">
    <div class="page-header">
      <img src="assets/img/dots.png" class="dots">
      <img src="assets/img/path4.png" class="path">
      <div class="container align-items-center">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <h1 class="profile-title text-left">Hackathon 2019</h1>
            <h5 class="text-on-back">ESI</h5>
            <p class="profile-description">The School of ESI hackathon will bring together outstanding hackers, programmers, designers and more from universities all over the country to build amazing software. For 24 hours they will build, break and innovate to produce projects that push the boundaries of technology and help improve education.</p>
            <div class="btn-wrapper profile pt-3">
              <a href="https://esihack.devpost.com/" target="_blank" class="btn btn-simple btn-primary">
                <i class="tim-icons icon-laptop"></i> Get more Info
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 ml-auto mr-auto">
              <div class="card card-register">
                  <div class="card-header">
                    <img class="card-img" src="../assets/img/square1.png" alt="Card image">
                    <h4 class="card-title">Register</h4>
                  </div>

                  <div class="card-body" >
                      <div class="ui small error message"
                      ng-show="error">
                       {{error}}
                       </div>
         
                    <form class="form"  ng-submit="login()" ng-show="loginState === 'login'">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="tim-icons icon-email-85"></i>
                          </div>
                        </div>
                        <input 
                        type="email"
                        id='email'
                        placeholder="Email"
                        ng-model="email" required
                         class="form-control">
                      </div>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="tim-icons icon-lock-circle"></i>
                          </div>
                        </div>
                        <input
                        type="password"
                        id='password'
                        placeholder="Password"
                        ng-model="password" required
                         class="form-control">
                      </div>
                      <button id="login-password"
                        type="submit"
                        class="btn btn-primary btn-round btn-lg">
                        Login
                      </button>
                      <button ng-show="regIsOpen"
                      id="register"
                      class="btn btn-info btn-round btn-lg"
                      ng-click="register()">
                      Register
                    </button>
                    </form>
                    

                    <form class="form"  ng-submit="sendResetEmail()" ng-show="loginState === 'forgot'">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="tim-icons icon-email-85"></i>
                            </div>
                          </div>
                          <input 
                          type="email"
                          id='email'
                          placeholder="Email"
                          ng-model="email" required
                           class="form-control">
                        </div>

                        <button id="login-password"
                          type="submit"
                          class="btn btn-primary btn-round btn-lg">
                          Send Reset Email
                        </button>
                    </form>

                    <div ng-show="loginState === 'login'" class="forgot">
                      <br>
                        <a href="#" ng-click="setLoginState('forgot')">
                          Forgot Password?
                        </a>
                    </div>

                    <div ng-show="loginState === 'forgot'" class="forgot">
                      <br>
                        <a href="#" ng-click="setLoginState('login')">
                          {{regIsOpen ? 'Login or Register' : 'Login'}}
                        </a>
                    </div>
              
              


                  </div>

                </div>
          </div>
        </div>
      </div>
    </div>  

    <section class="section section-lg section-safe">
      <img src="../assets/img/path5.png" class="path">
      <div class="container">
        <div class="row row-grid justify-content-between">
          <div class="col-md-5">
            <img src="../assets/img/chester-wade.jpg" class="img-fluid floating">
            <div class="card card-stats bg-danger">
              <div class="card-body">
                <div class="justify-content-center">
                  <div class="numbers">
                    <p class="card-title">+100</p>
                    <p class="card-category text-white">Hackers</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-stats bg-info">
              <div class="card-body">
                <div class="justify-content-center">
                  <div class="numbers">
                    <p class="card-title">573 K</p>
                    <p class="card-category text-white">Satisfied customers</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-stats bg-default">
              <div class="card-body">
                <div class="justify-content-center">
                  <div class="numbers">
                    <p class="card-title">10 425</p>
                    <p class="card-category text-white">Business</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="px-md-5">
              <hr class="line-success">
              <h3>Eductaion Themed</h3>
              <p>With the help of UNICEF, the theme of this hackathon will be all projects related to education including the new eLearning models, Apps built to help the School students and departments to perform their daily tasks easily.</p>
              <ul class="list-unstyled mt-5">
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div class="icon icon-success mb-2">
                      <i class="tim-icons icon-vector"></i>
                    </div>
                    <div class="ml-3">
                      <h6>Change Later 1</h6>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div class="icon icon-success mb-2">
                      <i class="tim-icons icon-tap-02"></i>
                    </div>
                    <div class="ml-3">
                      <h6>Change Later 2</h6>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div class="icon icon-success mb-2">
                      <i class="tim-icons icon-single-02"></i>
                    </div>
                    <div class="ml-3">
                      <h6>Change Later 3</h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card card-plain">
              <div class="card-header">
                <h1 class="profile-title text-left">Contact</h1>
                <h5 class="text-on-back">C</h5>
              </div>
              <div class="card-body">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24884.070049815164!2d3.185473668700259!3d36.69684683608806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x128e522f3f317461%3A0x215c157a5406653c!2sEcole+Nationale+Sup%C3%A9rieure+d&#39;Informatique+(Higher+School+for+Computer+Science)!5e0!3m2!1sen!2sdz!4v1546018659346" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <div class="col-md-4 ml-auto">
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="tim-icons icon-square-pin"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Find us at:</h4>
                <p> Ecole Nationale Supérieure d'Informatique (ESI ex.INI),
                  <br> Alger Oued Smar, 16309,
                  <br> Algeria
                </p>
              </div>
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="tim-icons icon-email-85"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Email us at:</h4>
                <p> ESIHack Team
                  <br> hack@esi.dz
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>