| Hello #{name}
| Your application for ESIHack has been successfully submitted.
| A big thank you for the interest and enthusiasm! Next, we look forward reading it and informing you of the final decision. 
| Processing your application will take some time. 
| While waiting for the news, you can still edit your information or check your status at your Dashboard.
| #{url} Dashboard
| 
| Thanks,
| ESIHack Team